<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<springProfile name="local-postgresql,local-mysql,local-oracle">
		<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
		<root level="INFO">
			<appender-ref ref="CONSOLE"/>
		</root>
	</springProfile>

	<springProfile name="!local-postgresql &amp; !local-mysql &amp; !local-oracle">
		<appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
			<encoder class="org.springframework.boot.logging.logback.StructuredLogEncoder">
				<format>logstash</format>
			</encoder>
		</appender>
		<root level="INFO">
			<appender-ref ref="JSON_CONSOLE"/>
		</root>
	</springProfile>
</configuration>
